@font-face {
    font-family: Noto Sans;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans&ampdisplay=swap");
}
html, body {
    margin: 0;
    padding: 0;
}

.login-login {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: var(--dl-color-gray-black);
    border-width: 0;
    margin: 0;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    background-color: rgba(63, 63, 63, 1);
}

.login-frame1 {
    width: 389px;
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 60px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(239, 238, 238, 1);
}

.login-text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 40px;
    align-self: stretch;
    font-style: Display Bold;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

.login-textinput {
    flex: initial;
    color: rgba(95, 95, 95, 1);
    width: 284px;
    height: 28px;
    font-size: 12px;
    margin-top: 0;
    text-align: left;
    font-family: Noto Sans;
    border-style: hidden;
    border-width: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 15px 9px;
    background-color: rgba(217, 217, 217, 1);
}

.login-textinput1 {
    flex: initial;
    color: rgba(95, 95, 95, 1);
    width: 284px;
    height: 28px;
    font-size: 12px;
    margin-top: 0;
    text-align: left;
    font-family: Noto Sans;
    border-style: hidden;
    border-width: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 15px 9px;
    text-transform: capitalize;
    background-color: rgba(217, 217, 217, 1);
}

.login-login-button {
    width: 284px;
    height: 28px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(16, 185, 129, 1);
}

.login-text2 {
    top: 6px;
    left: 4px;
    color: rgba(239, 238, 238, 1);
    width: 276px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text4 {
    color: rgba(16, 185, 129, 1);
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

.login-text6 {
    color: rgba(16, 185, 129, 1);
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}