<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/styles/index.css"/>
</head>
<body>
<div>
	<div class="challenge-index-challenge-index">
		<div class="challenge-index-profile-frame">
			<span class="challenge-index-text"><span>Welcome, {{name}}!</span></span>
			<a href="/logout" class="challenge-index-text02"><span>Logout</span></a>
		</div>
		<div class="challenge-index-frame8">
			<span class="challenge-index-text04"><span>Challenges</span></span>
			{% for level in levels %}
			<a class="level-link" href="/levels/{{level.name}}">
				<div class="challenge-index-challenge-component">
					{% if level.rank == 0 %}
					<img class="challenge-index-completion-indicator" src="/assets/images/x.svg" alt="X">
					{% else %}
					<img class="challenge-index-completion-indicator" src="/assets/images/check.svg" alt="check">
					{% endif %}

					<div class="challenge-index-line"></div>
					<span class="challenge-index-text06"><span>Level {{level.name}}</span></span>
					<div class="challenge-index-line"></div>
					<span class="challenge-index-text08"><span>
					{% if level.rank == 0 %}
						Unsolved
					{% else %}
						Rank: #{{level.rank}}
					{% endif %}
				</span></span>
					<div class="challenge-index-line">

					</div>
					<span class="challenge-index-text10">
         	   		<span>{{level.desc}}</span>
          		</span>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
</body>
</html>
