<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Level {{level}}</title>
	<script src="/assets/scripts/level.js"></script>
	<link rel="stylesheet" href="/assets/styles/level.css"/>
</head>
<body>
<a href="/">Home</a>
<a href="/leaderboards/{{level}}">Leaderboard</a>
<a href="/logout">Logout</a>
<br/>
<h2>Description</h2>
<p id="description">{{desc}}</p>
<form name="submission" enctype="multipart/form-data">
	<label for="lang">Language</label>
	<select name="lang" id="lang">
		{%for lang in langs%}
		<option>{{lang}}</option>
		{%endfor%}
	</select>
	<label for="file">File:</label>
	<input type="file" name="file" id="file"/>
	<br/>
	<input id="submitButton" type="submit"/>
</form>


 <div>
    <div class="challenge-page-challenge-page">
      <div class="challenge-page-profile-frame">
        <span class="challenge-page-text"><span>Welcome, {{name}}!</span></span>
        <a class="challenge-page-text02" href="/logout"><span>Logout</span></a>
      </div>
      <div class="challenge-page-frame2">
        <span class="challenge-page-text04"><span>Description</span></span>
        <span class="challenge-page-text06">
          <span>
            {{desc}}
          </span>
        </span>
      </div>
    </div>
  </div>
</body>
</html>